<div class="ptg-manifestations">

{{#each system.manifestations as |value key|}}

  <div class="manifestation-row">

    <span>
      {{manifestationLabel key}}
    </span>

    <span>
      {{value}}
    </span>

    <button
      data-action="rollManifestation"
      data-manifestation="{{key}}">

      Invoke

    </button>

  </div>

{{/each}}

</div>